/* Fonts */
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf); }

@font-face {
  font-family: "Source Sans Pro Regular";
  src: url(../fonts/SourceSansPro-Regular.ttf); }

@font-face {
  font-family: "Source Sans Pro Bold";
  src: url(../fonts/SourceSansPro-Bold.ttf); }

/* ==== General Variables ==== */
/* ==== General Settings ==== */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: Helvetica, "Open Sans", Arial, sans-serif; }
  body:before {
    content: "";
    position: absolute;
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(#4C5D6F));
    background-image: -webkit-linear-gradient(left, transparent, #4C5D6F);
    background-image: -o-linear-gradient(left, transparent, #4C5D6F);
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#4C5D6F));
    background-image: -webkit-linear-gradient(bottom, transparent, #4C5D6F);
    background-image: -o-linear-gradient(bottom, transparent, #4C5D6F);
    background-image: linear-gradient(to top, transparent, #4C5D6F);
    height: 17vh;
    width: 100%;
    z-index: 0; }

h1 {
  font-size: 85px;
  font-family: Helvetica, "Open Sans", Arial, sans-serif;
  font-weight: 400; }

h2 {
  font-size: 50px; }

h3 {
  font-size: 25px; }

h4 {
  font-size: 20px; }

.header-section {
  height: 100vh;
  background: url(../img/background-image.png) no-repeat center center;
  background-size: cover;
  padding: 0 30px;
  color: #fff;
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header header header" "content content ......."; }
  .header-section .header-navigation {
    width: 100%;
    grid-column: 1;
    display: grid;
    grid-area: header;
    grid-template-columns: 20% 1fr;
    padding-top: 50px;
    z-index: 2; }
    .header-section .header-navigation .navigation-content {
      justify-self: end; }
      .header-section .header-navigation .navigation-content a {
        color: #fff;
        text-decoration: none;
        padding: 0 30px;
        font-size: 18px; }
        .header-section .header-navigation .navigation-content a:last-child {
          padding-right: 0; }
      .header-section .header-navigation .navigation-content .dropdown-menu {
        display: none;
        position: relative;
        left: 112px;
        padding-top: 15px;
        width: 230px; }
        .header-section .header-navigation .navigation-content .dropdown-menu ul {
          padding: 10px 0;
          background-color: #333; }
          .header-section .header-navigation .navigation-content .dropdown-menu ul li {
            list-style: none;
            padding: 5px 0; }
            .header-section .header-navigation .navigation-content .dropdown-menu ul li a {
              -webkit-transition: all .1s ease-in-out;
              -o-transition: all .1s ease-in-out;
              transition: all .1s ease-in-out; }
            .header-section .header-navigation .navigation-content .dropdown-menu ul li a:hover {
              color: #5aa3e8;
              -webkit-transition: all .1s ease-in-out;
              -o-transition: all .1s ease-in-out;
              transition: all .1s ease-in-out; }
      .header-section .header-navigation .navigation-content .dropdown-trigger .arrow-down {
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #fff;
        position: relative;
        top: 13px;
        left: 5px; }
      .header-section .header-navigation .navigation-content .dropdown-trigger:hover .dropdown-menu {
        display: block; }
    .header-section .header-navigation .logo-wrapper {
      width: 60px; }
      .header-section .header-navigation .logo-wrapper img {
        max-width: 100%;
        height: auto;
        position: relative;
        bottom: 40px; }
  .header-section .header-section-content {
    padding: 180px 0;
    grid-area: content; }
    .header-section .header-section-content .secondary-title {
      font-size: 28px;
      font-weight: 300;
      line-height: 40px;
      padding-top: 15px; }
    .header-section .header-section-content h3 {
      padding: 0 30% 0 30px; }

.description-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh; }
  .description-section .half-image {
    background: url(../img/second-image.png) no-repeat center center;
    background-size: cover; }
  .description-section .description-section-content {
    background: -webkit-linear-gradient(45deg, #5cc0d7, #3895b4);
    background: -o-linear-gradient(45deg, #5cc0d7, #3895b4);
    background: linear-gradient(45deg, #5cc0d7, #3895b4);
    text-align: center;
    display: grid; }
    .description-section .description-section-content .description-section-text {
      -ms-flex-item-align: center;
      align-self: center;
      padding: 0 100px;
      color: #fff; }
      .description-section .description-section-content .description-section-text h2 {
        font-weight: 400; }
      .description-section .description-section-content .description-section-text p {
        padding: 20px 0;
        font-weight: 300;
        font-size: 18px;
        line-height: 23px; }

.sign-up-section {
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  padding: 40px 0; }
  .sign-up-section .sign-up-section-content {
    grid-column: 2/3;
    text-align: center;
    -ms-flex-item-align: center;
    align-self: center; }
    .sign-up-section .sign-up-section-content h2 {
      color: #5aa3e8;
      font-weight: 400; }
    .sign-up-section .sign-up-section-content p {
      padding: 30px 10px;
      line-height: 23px;
      color: #555555;
      font-weight: 300; }
    .sign-up-section .sign-up-section-content .sign-up-section-buttons input {
      padding: 10px 90px;
      border: none;
      font-size: 18px;
      color: #5aa3e8;
      cursor: pointer;
      -webkit-box-shadow: 0 3px 9px 3px #D8DDDF;
      box-shadow: 0 3px 9px 3px #D8DDDF;
      -webkit-transition: .2s ease-in-out;
      -o-transition: .2s ease-in-out;
      transition: .2s ease-in-out; }
      .sign-up-section .sign-up-section-content .sign-up-section-buttons input:hover {
        -webkit-box-shadow: 0 3px 19px 3px #b5c9e1;
        box-shadow: 0 3px 19px 3px #b5c9e1; }
      .sign-up-section .sign-up-section-content .sign-up-section-buttons input:first-child {
        margin-right: 20px;
        padding: 14px 90px;
        background-color: #5aa3e8;
        color: #fff; }
        .sign-up-section .sign-up-section-content .sign-up-section-buttons input:first-child:hover {
          background-color: #09aeca;
          -webkit-transition: .2s ease-in-out;
          -o-transition: .2s ease-in-out;
          transition: .2s ease-in-out; }
      .sign-up-section .sign-up-section-content .sign-up-section-buttons input:last-child {
        margin-left: 20px;
        background-color: transparent;
        border: 4px solid #5aa3e8; }
        .sign-up-section .sign-up-section-content .sign-up-section-buttons input:last-child:hover {
          border-color: #09aeca;
          -webkit-transition: .2s ease-in-out;
          -o-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
          color: #09aeca; }

.images-section {
  -webkit-transform: skewY(-1.9deg);
  -ms-transform: skewY(-1.9deg);
  transform: skewY(-1.9deg);
  height: 100vh;
  background-color: #5aa3e8;
  margin-bottom: 50px;
  overflow: hidden; }
  .images-section .images {
    display: grid;
    top: -80px;
    position: relative;
    -webkit-transform: skewY(1.9deg);
    -ms-transform: skewY(1.9deg);
    transform: skewY(1.9deg);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    overflow: hidden; }
    .images-section .images .image-element {
      padding: 19vh;
      overflow: hidden; }
      .images-section .images .image-element:nth-child(1) {
        grid-column: 1/3;
        grid-row: 1/3;
        background-color: red;
        background: url(../img/1.png) no-repeat center center;
        background-size: cover; }
      .images-section .images .image-element:nth-child(2) {
        grid-column: 3/5;
        grid-row: 1;
        background: url(../img/2.png) no-repeat center center;
        background-size: cover; }
      .images-section .images .image-element:nth-child(3) {
        grid-column: 5/9;
        grid-row: 1;
        background-color: green;
        background: url(../img/3.png) no-repeat center center;
        background-size: cover; }
      .images-section .images .image-element:nth-child(4) {
        grid-row: 2;
        grid-column: 3/7;
        background-color: black;
        background: url(../img/4.png) no-repeat center center;
        background-size: cover; }
      .images-section .images .image-element:nth-child(5) {
        grid-column: 7/9;
        background-color: grey;
        background: url(../img/5.png) no-repeat center center;
        background-size: cover; }
      .images-section .images .image-element:nth-child(6) {
        grid-column: 1/4;
        background-color: purple;
        background: url(../img/6.png) no-repeat center center;
        background-size: cover; }
      .images-section .images .image-element:nth-child(7) {
        grid-column: 4/6;
        background-color: pink;
        background: url(../img/7.png) no-repeat center center;
        background-size: cover; }
      .images-section .images .image-element:nth-child(8) {
        grid-column: 6/9;
        background-color: yellow;
        background: url(../img/8.png) no-repeat center center;
        background-size: cover; }
      .images-section .images .image-element img {
        overflow: hidden;
        max-width: 100%;
        height: auto;
        overflow: hidden; }

.questions-section {
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  padding: 50px 0;
  padding-bottom: 100px; }
  .questions-section .questions-content {
    grid-column: 2/3;
    text-align: center; }
    .questions-section .questions-content h2 {
      padding-bottom: 50px;
      color: #313131;
      font-weight: 400; }
    .questions-section .questions-content .question-block {
      text-align: left;
      border-top: 1px solid #979797;
      padding: 25px 0; }
      .questions-section .questions-content .question-block b {
        color: #313131;
        font-weight: 400;
        line-height: 23px; }
      .questions-section .questions-content .question-block p {
        color: #7b7b7b;
        font-weight: 400;
        line-height: 23px; }
      .questions-section .questions-content .question-block:last-child {
        border-bottom: 1px solid #979797; }

.footer {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  background: url(../img/footer.png) no-repeat center center;
  background-size: cover; }
  .footer .footer-content {
    grid-column: 2/3;
    text-align: center;
    padding-top: 150px;
    grid-row: 1;
    color: #fff; }
    .footer .footer-content h1 {
      font-size: 90px; }
    .footer .footer-content p {
      text-align: right;
      font-size: 20px;
      font-weight: 300; }

.footer-nav {
  text-align: right;
  padding: 20px 20px;
  background-color: #313131; }
  .footer-nav a {
    padding: 10px;
    text-decoration: none;
    color: #fff; }

@media all and (max-width: 1360px) {
  .sign-up-section .sign-up-section-content {
    grid-column: 1/4; }
    .sign-up-section .sign-up-section-content .sign-up-section-text {
      padding-left: 160px;
      padding-right: 160px; } }

@media all and (max-width: 1300px) {
  .footer .footer-content {
    grid-column: 1/4; }
    .footer .footer-content p {
      padding: 0 20%; }
  .description-section .description-section-content .description-section-text h2 {
    font-size: 35px;
    line-height: 40px; } }

@media all and (max-width: 860px) {
  .header-section {
    grid-template-areas: "header header header" "content content content"; }
  .description-section {
    grid-template-columns: 1fr; } }

@media all and (max-width: 680px) {
  .sign-up-section .sign-up-section-content .sign-up-section-buttons input {
    padding: 14px 40px; }
    .sign-up-section .sign-up-section-content .sign-up-section-buttons input:first-child {
      padding: 14px 40px; }
  .sign-up-section .sign-up-section-content .sign-up-section-text {
    padding-left: 40px;
    padding-right: 40px; }
  .questions-section .questions-content {
    grid-column: 1/4;
    padding: 0 40px; }
  .vertical-dot-nav {
    top: auto !important;
    background-color: #666666;
    left: auto;
    right: 45% !important;
    border-radius: 10px 0px 0px 10px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: -10vh !important; } }

@media all and (max-width: 590px) {
  .header-section .header-navigation .navigation-content a {
    padding: 0 10px; }
  .header-section-content h1 {
    font-size: 50px; }
  .header-section-content h3 {
    font-size: 25px !important;
    padding-right: 0 !important; }
  .description-section .description-section-content .description-section-text {
    padding: 0 30px; }
  .sign-up-section .sign-up-section-content h2 {
    font-size: 35px; }
  .sign-up-section-buttons input {
    width: 80%;
    display: block;
    margin: 0 auto !important; }
    .sign-up-section-buttons input:last-child {
      margin-top: 15px !important; }
  .footer {
    height: 50vh; }
  .footer .footer-content h1 {
    font-size: 45px; }
  .footer .footer-content p {
    margin-top: 15px; }
  .images-section {
    display: none; }
  .header-section .header-navigation .navigation-content .dropdown-menu {
    left: 0; } }
